@import 'styles/_colors.scss';

.App {
  text-align: center;
  background-color: $primary-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $primary-text-color;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  text-align: left;
}

a:link {
  color: $link-color;
}

.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-row {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
}